/* This file is external file in css */

*{
    margin: 0px;
    padding: 0px;
}

header{
    border: 1px solid black;
    height: 60px;
    width: 100%;
    padding: 0px 30px;
    background-color: aqua;

}
header ul li{
    display: inline-block;
    line-height: 60px;
    margin:0px 30px ;
    background-color: brown;
    padding: 0px 20px;
    color: white;
}
header ul li:hover{
    background-color: red;
    cursor: pointer;
}

.hide-menu-home{
    display: none;
}
header ul li:hover .hide-menu-home{
    display: block;
    position: absolute;
    top: 60px;
    left: 10px;
    width: 100%;
 
}
header ul li:hover .hide-menu-home ul li{
    display: block;
    
    
}

