*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family:Josefin Sans;
}
header{
  background-color: rgb(0,0,0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
header .webName-logo{
  color: white;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .webName-logo img{
  height: 50px;
}
header .webName-logo p{
  font-weight: bold;
}
header ul{
  color: white;
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
header ul li:first-child{
  text-decoration: underline;
}
header ul li:last-child{
  padding: 10px 20px;
  border-radius: 4px;
  background-color: rgb(255,135,12);
  color: black;
}
header ul li:hover{
  text-decoration: underline;
}
header ul li a{
  color: white;
}
.section1{
  height: 600px;
  background-image: url("K:/Web Development 2025/CSS/Day 9/Project1/Images/imageProxy.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
section .transparent{
  height: 100%;
  background-color: rgba(4, 67, 138, 0.52);
  display: flex;
  justify-content: center;
  align-items: center;
}
section .transparent .content{
  width: 50%;
  color: white;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
section .transparent .content h1{
  font-size: 50px;
}
section .transparent .content h3{
  font-size: 25px;
  font-weight:500;
}
section .transparent .content p{
  text-align: center;
  line-height: 25px;
}
section .transparent .content button{
  padding: 10px 20px;
  width: fit-content;
  border: none;
  outline: none;
}
.CardSection{
  height: 650px;
  padding: 30px;
}
.CardSection > h1{
  text-align: center;
  padding:50px 0px 40px 0px;
  font-size: 32px;
}
.cards{
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.CardSection .cards .card{
  width: 350px;
  height: 100%;
  box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.087),-10px 0px 20px rgba(0, 0, 0, 0.087);
  border-radius: 10px;
  overflow: hidden;
}
.CardSection .cards .card img{
  width: 100%;
  height: 200px;
}

.CardSection .cards .card .card-text{
  height: 55%;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  text-align: justify;
  color: #595959;
}
.CardSection .cards .card .card-text h1{
  font-weight: 500;
}
.CardSection .cards .card .card-text button{
  padding: 15px 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #5D2F00;
  color: white;
}
.images{
  background-color: rgb(4, 67, 138);
  padding: 50px;
  color: white;
}
.images h1{
  font-size: 32px;
}
.images p a{
  color: white;
  line-height: 40px;
}
.images .imgs{
  display: flex;
  flex-wrap: wrap;
}
.images .imgs img{
  height: 270px;
  max-width: 283px;
  margin: 0px 10px 10px 0px;
}
.images .imgs img:nth-child(4){
  margin-right: 0px;
}

footer{
  background-color: black;
  color: white;
  height: 400px;
  display: flex;
  justify-content: center;
}
footer .webName-logo{
  color: white;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .webName-logo img{
  height: 50px;
}
footer .webName-logo p{
  font-weight: bold;
}
footer .footer_text{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.footer_logo{
  text-align: center;
}
.footer_contact{
  text-align: center;
  line-height: 30px;
}
section.contact{
  padding: 60px 55px;
}
section.contact h1{
  text-align: center;
  font-size: 32px;
}
section.contact p{
  text-align: center;
  margin: 20px 0px;
  line-height: 25px;
}

.firstlastname{
  display: flex;
}
.firstlastname .firstname{
  width: 50%;
}
.firstlastname .secondname{
  width: 50%;
}

.firstlastname input[type="text"]{
  width: 95%;
  padding: 8px;
  margin-top: 5px;
  outline: none;
}

.email{
  margin: 10px 0px;
}
.email input[type="email"]{
  width: 97.7%;
  padding: 10px;
  margin-top: 5px;
  outline: none;
}
.textarea textarea{
  margin-top: 5px;
  outline: none;
  width: 97.7%;
}
.submit{
  margin: 10px 0px;
  display: flex;
  justify-content: right;
  padding-right: 25px;
}
.submit button{
  border: none;
  outline: none;
  padding: 10px 20px;
  background-color: #5D2F00;
  color: white;
}